{% extends 'TestTaskFS/base.html' %}
{% load static %}

{% block content %}
    <h1 class="title-string">{{ title }}</h1>
    <form class="form-general" action="{% url url_form_name %}" method="post">
        {% csrf_token %}
        <div class="non-field-errors">{{ form.non_field_errors }}</div>
        {% for f in form %}
            {% if f.name == 'password' %}
                <p class="p-form"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label><span class="span-for-input">{{ f }} <button class="password-show-button" type="button">check</button></span></p>
                <div class="field-errors">{{ f.errors }}</div>
            {% elif f.name == 'password1' %}
                <p class="p-form"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label><span class="span-for-input">{{ f }} <button class="password-show-button" type="button">check</button></span></p>
                <div class="field-errors">{{ f.errors }}</div>
            {% else %}
                <p class="p-form"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label><span class="span-for-input">{{ f }}</span></p>
                <div class="field-errors">{{ f.errors }}</div>
            {% endif %}
        {% endfor %}
        <div class="div-for-button">
            <button class="button-for-post" type="submit">{{ title }}</button>
        </div>
    </form>
    <a class="link-for-redirect" href="{% url url_link_name %}">{{ link_name }}</a>
{% endblock %}

{% block script %}
    <script src="{% static 'TestTaskFS/js/trem.js' %}"></script>
{% endblock %}
